# pip>=22.3
# torch>=2.0.0
# sentence-transformers>=2.2.2
# PyMuPDF>=1.22.0
# python-docx>=0.8.11
# requests>=2.31.0
# tavily-python
# google-generativeai>=0.3.2
# rich>=13.5.0

requests
beautifulsoup4
sentence-transformers
streamlit
torch
PyMuPDF
gradio

